@model IEnumerable<Gymany.Models.Post>
@{
    ViewData["Title"] = "PostManage";
}
@{
    Layout = "PTLayout";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div style="padding-top: 50px;"></div>
<a asp-area="PT" asp-action="CreatePost" class="btn btn-outline-success btn-primary">Create Post</a>
<hr>
@if(@Model==null){
    <p>Bạn chưa có bài post</p>
}else{
    @foreach (var item in Model)
    {
        <div class="container bg-black mt-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="card bg-dark text-white mb-4">
                        <div class="card-header">
                            <h2 class="card-title">@item.Title</h2>
                            <p class="card-text"><small class="text-muted">@item.Date</small></p>
                        </div>
                        <div class="card-body">
                            <img src="@item.Image" class="img-fluid mb-3" alt="Illustration">
                            <p class="card-text">@item.Content</p>
                        </div>
                        <div class="card-footer d-flex justify-content-center">
                            <a asp-area="PT" asp-action="EditPost" asp-route-id="@item.PostID" type="button" class="btn btn-secondary me-2">Edit</a>
                            <a asp-area="PT" asp-action="DeletePost" asp-route-id="@item.PostID" type="button" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
