@model Gymany.Models.PersonalTrainer
@{
    ViewData["Title"] = "PTProfile";
}
@{
    Layout="PTLayout";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="row">
        <div class="col-xl-4">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0">
                <div class="card-header">Profile Picture</div>
                <div class="card-body text-center">
                    <!-- Profile picture image-->
                    <img class="img-account-profile rounded-circle mb-2" src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="" style="margin-left: auto; margin-right:auto;">
                    <!-- Profile picture help block-->
                    <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                    <!-- Profile picture upload button-->
                    <button class="btn btn-primary" type="button">Upload new image</button>
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Account Details</div>
                <div class="card-body">
                
                    <form>
                        <!-- Form Group (username)-->
                        <div class="mb-3">
                            <label class="small mb-1">Name</label>                      
                            <input readonly class="form-control" id="inputName" type="text" placeholder="Enter your username" value=" @Html.DisplayFor(model => model.Name)">
                        </div>
                        <!-- Form Group (Address)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputAddress">Address</label>
                            <input readonly class="form-control" id="inputAddress" type="text" placeholder="Enter your address" value="@Html.DisplayFor(model => model.Address)" >
                        </div>
                    
                        <!-- Form Group (email address)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputEmailAddress">Email address</label>
                            <input readonly class="form-control" id="inputEmailAddress" type="email" placeholder="Enter your email address" value="@Model.Email">
                        </div>
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (salary)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="salary">Salary</label>
                                <input readonly class="form-control" id="salary" type="tel" placeholder="Enter your phone number" value="@Html.DisplayFor(model => model.Salary)">
                            </div>
                            <!-- Form Group (birthday)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputBirthday">Birthday</label>
                                <input readonly class="form-control" id="inputBirthday" type="text" name="birthday" placeholder="Enter your birthday" value="@Html.DisplayFor(model => model.Age, "{MM/dd/yyyy}")">
                            </div>
                        </div>
                        <!-- LOGOUT btn-->
                        <a asp-area="PT" asp-action="DeleteSession" type="submit" class="btn btn-primary">LOGOUT</a>
                    </form>                    
                </div>
            </div>
        </div>
    </div>
<hr>
<form asp-action="DeleteSession">
</form>