@{
    ViewData["Title"] = "Index";
}
@model Gymany.Models.ListModels

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="container">
    <div class="row" style="padding: 20px 0;">

        <div class="col-xl-4" style="flex-basis: 20%;">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0">
                <div class="card-header" style="background-color: #ff9500;color: white;">Setting</div>
                <div class="card-body ">
                    <ul>
                        <li>
                            <a asp-controller="Customer" asp-action="Profile" class="text-left"
                                style="margin: 5px 0; width:100%;">Profile</a>
                        </li>
                        <li>
                            <a asp-controller="Customer" asp-action="OrderHistory" class="text-left"
                                style="margin: 5px 0; width:100%;">Order History</a>
                        </li>
                        <li>
                            <a asp-controller="Customer" asp-action="PaymentHistory" class="text-left" style="margin: 5px 0; width:100%;">Payment
                                History</a>
                        </li>
                        <li>
                            <a asp-controller="WorkoutPlan" asp-action="Index" class="text-left"
                                style="margin: 5px 0;width:100%;">Workout Plan

                            </a>
                        </li>
                        <li>
                            <a asp-controller="Customer" asp-action="DeleteSession" class="text-left" style="margin: 5px 0;width:100%;">
                                Logout
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-xl-8" style="flex-basis: 80%; max-width: none">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header" style="background-color: #ff9500;color: white;">WorkoutPlan</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                @if (Model.workoutPlans != null && Model.CheckMember == true)
                                {
                                    @foreach (var item in Model.workoutPlans)
                                    {
                                        <div class="card-header" style="background-color: #7e7b7b;color: white;">@item.Name
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th>Description</th>
                                                                    <th>Start Date</th>
                                                                    <th>Description</th>
                                                                    <th>Session No</th>
                                                                    <th>Activity No</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>

                                                                <tr>
                                                                    <td>@item.Name</td>
                                                                    <td>@item.StartDate</td>
                                                                    <td>@Html.Raw(item.Description)</td>
                                                                    <td>@item.Session</td>
                                                                    <td>@item.Activity</td>
                                                                    <td>
                                                                        <a asp-controller="WorkoutPlan" asp-action="Details"
                                                                            asp-route-id="@item.WorkoutPlanID"
                                                                            class="btn btn-primary">Details</a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }else if(Model.CheckMember == false && Model.CheckPayment == false){
                                    <div style="padding: 40px">
                                        <p>You need to become a member to see the workout plan</p>
                                        <a asp-controller="Customer" asp-action="JoinMember">You can click here to become a member</a>
                                    </div>
                                }else if(Model.CheckMember == true && Model.CheckPayment == false){
                                    <div style="padding: 40px">
                                        <p>You need to pay to see the workout plan</p>
                                        <form asp-controller="Customer" asp-action="JoinMember" method="post">
                                            <div class="form-group">
                                                <input id="Date" type="hidden" asp-for="@Model.member.Date"
                                                    class="form-control form-control-lg" readonly style="display: none;" value="@DateTime.Now"/>
                                            </div>
                                            <div class="form-group">
                                                <input asp-for="@Model.member.Status" class="form-control form-control-lg text-justify"
                                                    value="Waiting" type="hidden"/>
                                            </div>
                                            <input type="hidden" asp-for="@Model.member.CustomerID"
                                                class="form-control form-control-lg text-justify" value="@ViewBag.cusID" />
                                            <button type="submit" class="btn btn-primary btn-lg">Go to payment process</button>
                                        </form>
                                    </div>
                                }
                                else
                                {
                                    <div style="padding: 40px">
                                        <p>Please wait for PT</p>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
