@{
    ViewData["Title"] = "Post";
}
@* using layout of Gymowner *@
@{
    Layout = "GymManageLayout";
}


@* declare tag helper in areas *@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<style>
    .container-fluid{
        margin-left :8rem;
    }
</style>
<div class="container-fluid">
    <a asp-action="AddPost" asp-controller="GymOwner" class="btn btn-danger">Add new Post</a>
    <a asp-action="Home" asp-controller="GymOwner" class="btn btn-primary">Back to PersonalTrainer Page</a>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th>PostID</th>
                <th>Date</th>
                <th>Title</th>
                <th>Content</th>
                <th>Image</th>
                <th>PTID</th>
                <th>StaffID</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var post in Model)
            {
                <tr>
                    <td>@post.PostID</td>
                    <td>@post.Date</td>
                    <td>@post.Title</td>
                    <td>@post.Content</td>
                    <td>@post.Image</td>
                    <td>@post.PTID</td>
                    <td>@post.StaffID</td>
                    <td>
                        <a asp-controller="GymOwner" asp-action="UpdatePost" class="btn btn-danger" asp-route-id="@post.PostID">Update</a>
                        <a asp-controller="GymOwner" asp-action="DeletePost" class="btn btn-danger" asp-route-id="@post.PostID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
