@model Gymany.Models.Order
@{
    ViewData["Title"] = "UpdateOrder";
}

@{
    Layout = "GymOwnerLayout";
}
@* declare tag helper in areas *@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="text-center">
    <h2 class="display-4">Update Status Order</h2>
</div>
<form asp-controller="GymOwner" asp-action="UpdateOrder" method="post" class="container" style="max-width: 1100px;">


    <div class="form-group row">
        <label asp-for="OrderID" class="col-sm-2 col-form-label">Order ID:</label>
        <div class="col-sm-10">
            <input type="number" asp-for="OrderID" value="@ViewBag.OrderID" class="form-control" readonly>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="CustomerID" class="col-sm-2 col-form-label">Customer Name:</label>
        <div class="col-sm-10">
            <select asp-for="CustomerID" class="form-control" asp-items="@ViewBag.CustomerId" disabled></select>
            <input type="hidden" asp-for="CustomerID" />
            <span asp-validation-for="CustomerID" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="ProductID" class="col-sm-2 col-form-label">Product Name:</label>
        <div class="col-sm-10">
            <select asp-for="ProductID" class="form-control" asp-items="@ViewBag.ProductID" disabled></select>
            <input type="hidden" asp-for="ProductID" />
            <span asp-validation-for="ProductID" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Status" class="col-sm-2 col-form-label">Status:</label>
        <div class="col-sm-10">
            <select asp-for="Status" class="form-control">
                <option value="Waiting">Waiting</option>
                <option value="Already Paid">Already Paid</option>
            </select>
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="StartDate" class="col-sm-2 col-form-label">StartDate:</label>
        <div class="col-sm-10">
            <input type="text" asp-for="StartDate" value="@Model.StartDate" class="form-control" readonly>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Total" class="col-sm-2 col-form-label">Total:</label>
        <div class="col-sm-10">
            <input type="number" asp-for="Total" value="@Model.Total" class="form-control" readonly>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Quantity" class="col-sm-2 col-form-label">Quantity:</label>
        <div class="col-sm-10">
            <input type="number" asp-for="Quantity" value="@Model.Quantity" class="form-control" readonly>
        </div>
    </div>


    <div class="form-group row">
        <div class="col-sm-10 offset-sm-2">
            <input type="submit" value="Update" class="btn btn-primary">
            <a asp-action="Order" asp-controller="GymOwner" class="btn btn-danger">Back to Order Manage</a>
        </div>
    </div>
</form>
