@model Gymany.Models.ListModels


@{
    ViewData["Title"] = "EditProfile";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="row">

    <div class="col-xl-4">
        <!-- Profile picture card-->
        <div class="card mb-4 mb-xl-0">
            <div class="card-header">Profile Picture</div>
            <div class="card-body text-center">
                <!-- Profile picture image-->
                <img class="img-account-profile rounded-circle mb-2"
                    src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                <!-- Profile picture help block-->
                <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                <!-- Profile picture upload button-->
                <button class="btn btn-primary" type="button">Upload new image</button>
            </div>
        </div>
    </div>
    <div class="col-xl-8">
        <!-- Account details card-->
        <div class="row bg-light p-12">
            <div class="col-md-12">
                <form asp-action="EditProfile">
                    <!-- Form Group (id)-->
                    <div class="mb-3">
                        <input class="form-control" id="inputName" type="text" asp-for="@Model.customer.CustomerID">
                    </div>

                    <div class="mb-3">
                        <label asp-for="@Model.customer.Username" class="control-label h3"></label>
                        <input asp-for="@Model.customer.Username" class="form-control form-control-lg" />

                    </div>
                    <!-- Form Group (name)-->
                    <div class="mb-3">
                        <label asp-for="@Model.customer.Name" class="control-label h3"></label>
                        <input asp-for="@Model.customer.Name" class="form-control form-control-lg" />

                    </div>
                    <!-- Form Group (password)-->
                    <div class="mb-3">

                        <input class="form-control" id="inputName" type="hidden" placeholder="Enter your username" asp-for="@Model.customer.Password">

                    </div>
                    <!-- Form Group (Address)-->
                    <div class="mb-3">
                        <label class="small mb-1" for="inputAddress">Address</label>
                        <input class="form-control" id="inputAddress" type="text" placeholder="Enter your address"
                            asp-for="@Model.customer.Address">

                    </div>

                    <!-- Form Group (email address)-->
                    <div class="mb-3">
                        <label class="small mb-1" for="inputEmailAddress">Email address</label>
                        <input class="form-control" id="inputEmailAddress" type="email"
                            placeholder="Enter your email address" asp-for="@Model.customer.Email">
                    </div>
                    <!-- Form Row-->
                    <div class="row gx-3 mb-3">
                        <!-- Form Group (phone number)-->
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputPhone">Phone number</label>
                            <input class="form-control" id="inputPhone" type="tel" placeholder="Enter your phone number"
                                asp-for="@Model.customer.Phone">
                        </div>
                        <!-- Form Group (birthday)-->
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputBirthday">Birthday</label>
                            <input class="form-control" id="inputBirthday" type="text" name="birthday"
                                placeholder="Enter your birthday" asp-for="@Model.customer.Age">
                        </div>
                    </div>
                    <!-- Save changes button-->
                    <button type="submit" class="btn btn-primary btn-lg">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>